.html{

height: 100%;

}

	

.body {

	display: flex;
	flex-direction: column;
	height: 100%;
	hyphens: 100;

}

div#banner{
    text-align: center;
	width: 100%;
	height: 315px;
	
}

img#img_banner{

	display: block;
	margin:auto;
	width: 60%;
	max-width: 700px;
	min-width: 500px;

}


.jumbotron {

	background-color:limegreen;
	color: black;
	margin-top: 50px;

	}


 .footer {
	        margin-bottom: 0;
            background-color: yellow;
            color: black;
            padding: 10px 20px 10px 20px
}
	

.card-body {
    
    flex: 1 175px;
    padding: 2px 3px 2px 3px
    margin-top: 10px;
   
	}


.btn-reserva {
    width: 80%
    border-radius: 0px;
	}

.bi::before {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}


.footer-address-icon {

padding-right: 2px;

}

