@green: #05ffbc;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


 .footer {
            padding: 10px 20px 10px 20px;
            background-color: @green;
            .margenes(10px, 0px);
            
            }
