$yellow: #ffff00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


 .footer {
            padding: 10px 20px 10px 20px;
            background-color: $yellow;
            @include margenes(10px, 0px);
            
            }

